/*
dark: #2F2C41
background: rgb(180, 186, 192)
highlight: rgb(158, 170, 185)
close-to-white: rgb(200, 200, 200);
*/

body {
	background-image: url(../images/texture.jpg);
	color: rgb(35, 35, 35);
	font: 10pt 'Open Sans', sans-serif;
	margin: 15px 0 30px;
	text-align: center;
}

small {
	font-size: smaller;
}

i {
	font-style: italic;
}

a {
	text-decoration: none;
	/*color: rgb(44, 162, 44);*/
	color: #2E6F89;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}

h2, h4 {
	/*color: rgb(172, 172, 172);*/
	color: rgb(60, 60, 60);
	margin: 0 0 5px;
	line-height: 1.3;
	font-weight: bold;
}
h2 {
	font-size: 15px;
	margin: 0 0 10px;
	/*border-bottom: 1px solid rgb(80, 80, 80);*/
	border-bottom: 1px solid rgb(200, 200, 200);
	padding-bottom: 1px;
}
h4 {
	font-size: 13px;
	margin-top: 10px;
}

p {
	margin: 0 0 13px;
}

input, textarea, select {
	font-size: 12px;
	font-family: arial;
	line-height: 1.5em;
}

#container {
	width: 1170px;
	/*width: 862px;*/
	text-align: left;
	margin: 0 auto;
	/*background-color: #2F2C41;*/
	background-color: rgb(180, 186, 192);
	border: solid black 1px;
	-moz-box-shadow: grey 0px 3px 10px 2px;
	-webkit-box-shadow: grey 0px 3px 10px 2px;
	box-shadow: grey 0px 3px 10px 2px;
}

#header {
	height: 131px;
	background: #2F2C41 url(../images/logo.png) 30px 0px no-repeat;
	background-size: contain;
	border-bottom: 6px solid rgb(200, 200, 200);
}

#logo {
	padding-top: 75px;
	position: relative;
	width: 330px;
	display: inline-block;
	left: 70px;
}

#logo-uofs {
	margin: 60px 10px 0px 0px;
	float: right;
}

#logo-uofs img {
	width: 10em;
	height: auto;
}

#logo a:hover {
	text-decoration: none;
}

#logo a {
	font-size: 0.85em;
	color: rgb(255, 255, 255);
	letter-spacing: 4px;
	text-shadow: black 1px 1px 3px;
}

#graphic {
	width: 400px;
	height: 82px;
	background-repeat: no-repeat;
	float: right;
	margin: -9px 15px 0 0;
}

#menu {
	height: 27px;
	padding: 0px 0px 0px 18px;
	background-color: transparent;
}

#menu li {
	text-align: center;
	padding: 0;
	display: inline;
	list-style-type: none;
	line-height: 25px;
}

#menu li a {
	color: rgb(200, 200, 200);
	font-size: 11px;
	font-weight: bold;
	padding: 0px 24px 0px 6px;
}

#menu li a:hover {
	text-decoration: none;
	color: rgb(0, 210, 0);
}

#menu li a.selected {
	color: rgb(0, 210, 0);
}

#content {
	padding: 20px 20px 60px;
	min-height: 250px;
	background-color: rgb(180, 186, 192);
}

#content, #content td {
	font-size: 10pt;
}

#footer {
	margin: 0 auto;
	padding: 17px 0;
	width: 1165px;
	/*width: 862px;*/
	text-align: left;
	font-size: 11px;
	color: rgb(140, 140, 140);
}
#innerfooter {
	padding: 0 31px;
}

.error {
	font-family: monospace;
	margin: 10px auto;
	width: 1165px;
	/*width: 862px;*/
	background-color: rgb(250, 220, 237);
	border: solid 1px black;
	box-shadow: rgb(167, 167, 167) 1px 3px 7px 1px;
}

.error ul li {
	box-shadow: none;
	margin: 10px 30px 10px 30px;
	list-style-type: square;
	width: 85%;
	text-align: left;
	border: none;
	font-weight: bolder;
}

.error .info{
}

.error .warning{
	color: rgb(238, 200, 0);
}

.error .error{
	color: rgb(238, 0, 0);
}

.publication {
	margin-bottom: 12px;
}

.pdf, .mov, .wmv {
	padding: 2px 0 3px 26px;
}
.pdf {
	background: url(../images/pdf.png) no-repeat;
}
.mov {
	background: url(../images/mov.png) no-repeat;
}
.wmv {
	background: url(../images/wmv.png) no-repeat;
}

.bibtexentry {
	width: 100%;
	display: inline-block;
}

.bibtexleft {
	padding-left: 20px;
	vertical-align: top;
	float: left;
	width: 65px;
}
.bibtexmiddle {
	vertical-align: top;
	padding: 0 5px 0 10px;
	float: left;
}
.bibtexright {
	vertical-align: top;
	float: left;
}

.affiliation {
	color: rgb(140, 140, 140);
	font-size: 10px;
}

.strike {
	height: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.strike .line {
	/*border-bottom: 1px solid rgb(80, 80, 80);*/
	border-bottom: 1px solid rgb(200, 200, 200);
	padding-top: 15px;
	margin-bottom: -6px;
}

.strike h4 {
	display: inline;
	float: left;
	padding: 0 5px 0 0;
	margin: -11px 0 0 0;
	color: #2F2C41;
}

.teaser .thumbnail {
	width: 40px;
	height: 40px;
/*	width: 213px;
	height: 166px; */
}

.thumbnail {
	width: 40px;
	height: 40px;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: black 1px 1px 1px 0px;
	-webkit-box-shadow: black 1px 1px 1px 0px;
	box-shadow: black 1px 1px 1px 0px;*/
}
.border {
	padding: 0;
}
.border img {
	display: block;
}

.projecttable {
	width: 75%;
}
.projecttable td {
	vertical-align: top;
	padding: 2px 10px 11px 0;
}

.persontable td {
	vertical-align: top;
	padding: 2px 9px 11px 0;
	line-height: 15px !important;
}

.imagewrap {
	margin: 4px 13px 10px 0;
	max-width: 214px;
	max-height: 300px;
}

.profileleft {
	width: 27%;
	float: left;
}
.profileright {
	width: 71%;
	float: right;
}

.filter {
	background: url(../images/filter-back.gif) no-repeat;
	width: 793px;
	height: 32px;
}
.filter td {
	padding: 4px 0;
}
.filter .prompt {
	width: 85px;
	padding: 5px 10px 0 0;
}
.filter select {
	width: 140px;
}
.filtersubmit {
	padding: 2px 5px 0 24px !important;
	width: 70px;
}

.left {
	float: left;
}

.prompt {
	vertical-align: top;
	width: 110px;
	padding: 1px;
	text-align: right;
	color: rgb(110, 110, 110);
}

#imagedisplay {
/*	margin-top: 5px;
	margin-bottom: 15px;
	padding-left: 8px;*/

	width: 880px;
	margin-left: -35px;
	margin-top: -25px;
	margin-bottom: 101px;
}

#imagedisplay a {
	display: block;
	float: left;
}

#imagedisplay img {
	/*margin: 0 6px 6px 0;*/
}

#imagedisplay .right img {
	margin: 0 0 6px 0;
}

#website_description {
	font-size: 15px;
	font-weight: bold;
	line-height: 21px;
	color: rgb(213, 213, 213);
}

#peoplephoto {
	width: 794px;
	height: 532px;
	margin-bottom: 20px;
}

.movie {
	width: 17px;
	border: 0px;
	text-align: top;
	margin-left: 1px;
}

.headeraffiliation {
	font-size: 12px;
	color: rgb(120, 120, 120);
}

.course {
	font-weight: bold;
}

.publication-teaser {
	margin: 0px 0 10px;
	padding: 5px 0 5px;
}

.docimage {
	width: 17px;
	border: 0;
}


.research-teaser-list {
	float: left;
	/*padding: 10px;*/
}

.opportunity-teaser {
	width: 85%;
	max-height: 100px;
	padding: 5px;
	overflow: hidden;
	color: black;
	display: block;
}

.people-refrence-list {

}

.people-teaser {
	width: 30%;
	height: 50px;
	padding: 5px;
	float: left;
}

.people-tiny .textside {
	padding-left: 3px;
}

.people-tiny {
	overflow: hidden;
	padding: 0px 3px 3px 3px;
}

.tiny img {
	width: 20px;
	height: 20px;
}


.people-tiny-list {
}

.people-default {

}

.people-teaser-list, .people-refrence-list {
	/*padding: 12px 4px;*/
	overflow: hidden;
}

.research-default {
}

.research-teaser-list {

}

.research-teaser {
	padding: 7px 0px 7px 1px;
}

.research-teaser .left {
	width: 45px;
	float: left;
}

.research-teaser .textside {
	width: 100%;
	padding: 3px 5px;
}

.publication-teaser .title, .research-teaser .title, .people-teaser .title {
	font-size: 12px;
	/*color: rgb(44, 162, 44);*/
	color: #2F2C41;
}

.publication-tiny, .research-tiny {
	padding: 5px;
}

.publication-tiny .left, .research-tiny .left {
	width: 27px;
	float: left;
}

.research-tiny .left img {
	width: 20px;
	height: 20px;
}

.display-default img {
	max-width: 100%;
}

.research-tiny-list {

}

.download {
	margin: 6px 0 9px;
}

.publication-default {
	margin-bottom: 12;
}

.publication-teaser-list {

}

.publication-teaser {
	margin-bottom: 12;
}

.publication-teaser .textside {
	width: 100%;
	padding: 0;
}

.publeft {
	width: 23px;
	min-height: 30px;
	float: left;
}

.publeft img {
	margin-top: 3px;
}

.cb {
	clear: both;
}

.textside {
	font-size: 12px;
	padding: 4px 5px;
	display: table-cell;
	width: 73%;
}

.tiny {
	overflow: hidden;
	color: black;
	display: block;
}

.tiny .textside {
	padding: 2px 5px;
}

.teaser * {
	/*color: rgb(213, 213, 213);*/
	color: black;
}

.teaser {
	overflow: hidden;
	/*color: rgb(213, 213, 213);*/
	color: black;
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	/*word-break: break-all;*/
/*	width: 216px;
	height: 199px;*/
	padding-top: 10px;
	/*padding-bottom: 30px;*/
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.tiny:hover, .tiny *:hover, .teaser *:hover, .teaser:hover
, .largeicon *:hover, .largeicon:hover {
	text-decoration: none;
}

.tiny.focused, .tiny:hover, .teaser.focused, .teaser:hover
, .largeicon.focused, .largeicon:hover {
	/*background-color: rgb(80, 80, 80);*/
	background-color: rgb(158, 170, 185);
}

input.refrence, input.find {
	min-width: 250px;
	width: 58%;
}

.doc-list, .video-list, .image-thumb-list {
	float: left;
	padding: 0px 10px;
}

#remove-refrence-button {
	opacity: 0.3;
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	display: none;
}

a.view-all {
	/*margin: 5px 0px 15px;*/
	display: inline-block;
}

.largeicon:hover {
	border: 1px solid #2F2C41;
	padding: 0px;
}

.largeicon {
	padding: 1px;
	overflow: hidden;
	/*color: rgb(213, 213, 213);*/
	color: black;
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	/*word-break: break-all;*/
	width: 216px;
	height: 185px;
}


.largeicon .title {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #2F2C41;
	max-height: 43px;
	overflow: hidden;
}

.largeicon .thumbnail {
	width: 213px;
	height: 112px;
}

.TTWForm a.remove, .TTWForm a.view, a.edit-node, a.view-all {
	float: right;
}

a.button {
	color: #2F2C41;
	padding: 1px 8px;
	margin: 3px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 7px;
}

a.button:hover {
	text-decoration: none;
	background-color: rgb(158, 170, 185);
	border-radius: 7px;
	border: 1px solid #2F2C41;
}
